table.tl_wertungszahlen_tabelle {
	border-collapse: collapse;
	margin: 18px;
	border: 1px solid #c0c0c0;
	border-radius: 5px;
}

table.tl_wertungszahlen_tabelle th,
table.tl_wertungszahlen_tabelle td {
	padding: 6px;;
	border: 1px solid #DFDFDF;
	vertical-align: top;
}
